* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none !important;
  text-decoration: none !important;
}
/* ----------------------------------------color-------------------------------- */
.text_yellow_orange {
  background: linear-gradient(to bottom, #fed710 0%, #ff5001 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
}
.text_gradient {
  background: linear-gradient(180deg, #fed710 0%, #ff5001 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text_gradient_2{
  background: linear-gradient(180deg, #FED710 2.08%, #FF5001 7.81%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.text_gradient_3{
  background: linear-gradient(180deg, #FED710 2.08%, #FF5001 26.04%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* ------------------------------------common----------------------------- */
.lh_143 {
  line-height: 143%;
}
.lh_150 {
  line-height: 150%;
}
.lh_116 {
  line-height: 116%;
}
.lh_174 {
  line-height: 174%;
}
.lh_normal {
  line-height: normal;
}
/* -------------------------------------navbar------------------------------------ */
.bg_hero {
  background-image: url(../images/webp/bg_hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.fix_nav {
  position: fixed;
  top: 0;
  background: black;
  z-index: 4;
}
.hero_section_height {
  min-height: 100vh !important;
}
.gap_35 {
  gap: 35px;
}

.connect_btn {
  padding: 14px 20px;
  background: linear-gradient(#fed710, #ff5001);
  border-radius: 50px;
  border: transparent;
}
.under_line::after {
  position: absolute;
  content: "";
  height: 3px;
  bottom: -1px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 0;
  background-color: white;
  transition: 0.5s;
}

.under_line:hover::after {
  width: 100%;
}

.under_line {
  position: relative;
}
/* -------------------------roadmap-section----------------- */
.bullet_circle{
 padding: 0;
  list-style: none;
}
.bullet_circle li {
  padding-left: 12px; 
  text-indent: -.7em;
}
.bullet_circle li::before{
  content: "• ";
  color: white;
  padding-right: 6px;
  
}
@media (max-width: 1600px) {
  .hero_section_height {
    height: calc(100vh - 100px) !important;
  }
}
@media (max-width: 1200px) {
  label[for="menuIcon"] {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  .line1,
  .line2,
  .line3 {
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 2px;
    align-items: center;
    transition: all 0.2s linear;
  }
  .cross_icon .line1 {
    transform: rotate(50deg) translate(10px, 12px);
    transition: all 0.2s linear;
  }
  .cross_icon .line2 {
    transform: translateX(-50%);
    opacity: 0;
  }
  .cross_icon .line3 {
    transform: rotate(-50deg) translateY(-50%);
    transition: all 0.2s linear;
  }

  .navbox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: grey;
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 200ms linear;
    z-index: 1;
  }

  .right-0 {
    right: 0;
  }
}
@media (min-width: 375px) {
}
@media (min-width: 425px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1440px) {
}
@media (min-width: 1600px) {
  .pink_dinosor img {
    min-width: 326px;
  }
  .golden_dinosor img {
    min-width: 326px;
  }
  .gray_dinosor {
    min-width: 326px;
  }
  .yellow_dinosor {
    min-width: 326px;
  }
}
